li.social-media-item.menu-item {
  height: auto;
}

a.ucb-social-link {
  color: #CFB87B;
  color: var(--ucb-gold);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 3px;
  background-color: #1a1a1a;
  margin: 2px;
  text-align: center;
  width: auto;
  border: 1px solid #1a1a1a;
}

a.ucb-social-link:hover {
  color: white;
  color: var(--ucb-white);
  background-color: #CFB87B;
  background-color: var(--ucb-gold);
  border: 1px solid;
}

a.ucb-twitter-link:hover {
  background: #55acee;
  color: #FFF;
  border-color: #FFF;
}

a.ucb-facebook-link:hover {
  background: #3b5998;
  color: #FFF;
  border-color: #FFF;
}

a.ucb-linkedin-link:hover  {
  background: #0977b5;
  color: #FFF;
  border-color: #FFF;
}

a.ucb-youtube-link:hover {
  background: #FFF;
  color: #b31217;
  border-color: #b31217;
}

a.ucb-flickr-link:hover {
  background: #FFF;
  color: #ff0084;
  border-color: #ff0084;
}

a.ucb-pinterest-link:hover {
  background: rgb(230, 0, 35);
  color: white;
  border-color: #ff0084;
}

a.ucb-instagram-link:hover {
  background: /*/////// Use radial gradients to get the rounded*/ /*/////// gradient effect in each corner*/ /*// left bottom*/ radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
  radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    /*// left top*/ radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    /*//  right top*/ radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    /*// right bottom*/ radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    /*/////// create a base coat to smooth*/ /*/////// corner gradients*/ linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

  color: #FFF;
  border-color: #FFF;
}
