/**** GLOBAL STYLES ******/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font: 16px/24px "HelveticaNeue", sans-serif;
}

.dialog-off-canvas-main-canvas {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-container {
    /*min-height: 100%;*/
    height: auto !important;
    height: 100%;
    padding: 0;
    flex: 1 0 auto;
}

/********* Fonts *************/
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueLTW05-55Roman.woff2') format('woff2');
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeueLTW05-75Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    src: url('../fonts/HelveticaNeueLTW05-77BoldCn.woff2') format('woff2');
}

.ucb-helvetica-bold {
    font-family: 'HelveticaNeue-Bold';
}

.ucb-helvetica-condensed-bold {
    font-family: 'HelveticaNeue-CondensedBold';
}

.ucb-helvetica {
    font-family: 'HelveticaNeue';
}


/******** Header Region **********/
.ucb-admin-alert {
    margin-bottom: 0;
    padding: 0.25em;
}

header#ucb-header-block {
    background: black;
    padding: 1em 0;
}

.ucb-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}

.ucb-header-container .homepage-logo {
    flex-grow: 1;
}

.ucb-header-container > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.homepage-logo img {
    max-width: 320px;
    min-width: 180px;
    width: 320px;
    height: 30px;
}

.homepage-slogan img {
    max-width: 240px;
    min-width: 180px;
    margin-right: 0;
}

.homepage-slogan img {
    min-width: 180px;
    max-width: 240px;
    margin-right: 0;
}

/*********** Navigations **************/
section.ucb-main-nav-section {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: white;
}

.ucb-main-nav-continer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

/*********** Main Menu **************/
ul.ucb-main-menu.nav {
    flex-grow: 1;
}

li.main-menu-item a.nav-link {
    color: #333;
    line-height: 2rem;
    border-right: 1px solid #d7d7d7;
    font-weight: 600;
}

li.main-menu-item a.nav-link:hover {
    background: #e7e7e7;
    color: black;
}
li.main-menu-item a.nav-link.active{
    background: #cfb87c;
    color: black;
}

/********** Secondary Menu **********/
.ucb-menu a.nav-link {
    font-size: 0.85rem;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1rem;
    margin: 0.5rem;
    color: #333;
    padding: 0.5rem;
}

.ucb-menu a.nav-link:hover {
    color: black;
    background: #e7e7e7;
    border-radius: 3px;
}

/********* Footer ***********/
.ucb-homepage-footer {
    background: #1a1a1a;
    color: white;
    height: 1em;
    text-align: center;
}

.ucb-homepage-footer a {
    color: #cfb87c;
}

.ucb-homepage-footer a:hover {
    color: white;
}
