.ucb-how-to.ucb-panel {
  background: #eaeaea;
  padding: 1em;
  border-radius: 4px;
  margin: 1em;
  width: 100%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.ucb-howto-title {
  font-size: 1.5em;
  font-weight: bolder;
}

.ucb-howto-description {
  font-style: italic;
}

.ucb-howto-instructions {
  font-size: 1.2em;
}

.ucb-howto-contact a {
  color: black;
}
