article.ucb-org-teaser-content {
  width: 100%;
  max-width: 100%;
  text-align: right;
  height: 100%;
}

.ucb-org-teaser-content-container {
  background: transparent;
  border: none;
}

ul.ucb-guide-links-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 2em 0 0 0;
  flex-wrap: wrap;
}

.ucb-guide-how-to-title {
  font-size: 1.5rem;
}

ul.ucb-guide-links-list a {
  padding: 1em;
  margin: 1em;
  border: 1px solid;
  border-radius: 4px;
  background: #F5F5F5;
  background: var(--ucb-off-white);
  display: block;
}

.ucb-guide-content-row {
  margin-top: 1em;
  border-top: 1px solid #BBB;
  padding-top: 1em;
}

.ucb-guide-howto-row {
  border-top: 1px solid #BBB;
}

.ucb-guide-how-to-link,
.ucb-guide-guide-link {
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  display: flex;
}

.ucb-guide-how-to-link a,
.ucb-guide-guide-link a {
  margin: 1em;
  padding: 1em;
  border: 1px solid;
  background: #f5f5f5;
  background: var(--ucb-off-white);
  border-radius: 4px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.ucb-guide-how-to-icon,
.ucb-guide-guide-icon {
  margin: 0.75rem auto;
}

.ucb-guide-jump-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul.ucb-guide-jump-list {
  display: none;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 1em;
  border: 1px solid #888;
  border-radius: 4px;
  background: #f5f5f5;
  background: var(--ucb-off-white);
}

ul.ucb-guide-jump-list li {
  border-right: 1px solid;
  padding: 0 0.75rem;
}

ul.ucb-guide-jump-list li:last-of-type {
  border-right: none;
}

.ucb-guide-page {
  margin-bottom: 1em;
}

@media screen and (max-width: 991.98px) {
  article.ucb-org-teaser-content {
    text-align: left;
  }
}
