{#
/**
 * Theme layout to display a UCB Breadcrumb Region page.
 *
 * Created by jsparks on 6/18/19
 */
#}

{% if content %}
    <div class="ucb-breadcrumb-region">
        <div class="ucb-breadcrumb-container container">
            <div class="ucb-breadcrumb-row row">
                {{ content }}
            </div>
        </div>
    </div>
{% endif %}