{#
/**
 * Theme layout to display a UCB Organization Telephone field.
 *
 * Created by jsparks on 7/8/19
 */
#}

{% for item in items %}
    <i class="fas fa-phone-alt"></i> Telephone -
    <span itemprop="telephone">{{ item.content }}</span>
{% endfor %}
