{#
/**
 * Theme layout to display a UCB Organization Additional Links field.
 *
 * Created by jsparks on 7/10/19
 */
#}

{% for item in items %}
    {% set linkURL = item.content['#url']|render|striptags|trim %}
    {% set linkTitle = item.content['#title']|render|striptags|trim %}

    <li>
      <i class="fas fa-link"></i>
      <a href="{{ linkURL }}">
            {{ linkTitle }}
        </a>
    </li>
{% endfor %}
