{% for item in items %}

  {% if 'google.com' in item.content|render|lower or 'goo.gl' in item.content|render|lower %}
    {#    We're not going to deal with google maps currently but leaving it here as a stub for future expansion #}
  {% elseif 'colorado.edu/map' in item.content|render|lower %}
    {#    Rendering a campus map via the URL that was given #}
    {% set cuMapID = item.content|render|striptags|trim|split('!m/')[1] %}

    <div class="ucb-org-map-embed">
      <a href="{{ item.content|render }}" style="display:block; width:100%; height:300px; background-size: cover; background-image:url(https://staticmap.concept3d.com/map/static-map/?map=336&loc={{ cuMapID }});">
          <span class="embed-map-label">View location on the Campus Map</span>
      </a>
    </div>
  {% elseif item.content|render|striptags|trim|length < 8 and item.content|render|striptags|trim|length > 4%}
    {#  we probably have just an ID ... try to render that    #}
    {% set cuMapID = item.content|render|striptags|trim %}

    <div class="ucb-org-map-embed">
      <a href="https://www.colorado.edu/map/?id=336#!m/{{ cuMapID }}" style="display:block; width:100%; height:300px; background-size: cover; background-image:url(https://staticmap.concept3d.com/map/static-map/?map=336&loc={{ cuMapID }});">
        <span class="embed-map-label">View location on the Campus Map</span>
      </a>
    </div>
  {% endif %}

{% endfor %}
