{#
/**
 * Theme layout to display a UCB Organization Telephone field.
 *
 * Created by jsparks on 7/8/19
 */
#}

{% for item in items %}
    <a href="tel:{{ item.content|render|striptags|trim }}">
        <buton class="ucb-org-contact-button ucb-org-telephone-button">
            <i class="fas fa-phone-alt"></i> Main Phone<br/>
            {{ item.content|render|striptags|trim }}
        </buton>
    </a>
{% endfor %}