{#
/**
 * Theme layout to display a UCB Organization Telephone field.
 *
 * Created by jsparks on 7/8/19
 */
#}

{% for item in items %}
    <i class="fas fa-phone-alt"></i> <strong>Telephone</strong><br/>
    <a href="tel:{{ item.content|render|striptags|trim }}">
        {{ item.content|render|striptags|trim }}
    </a>
{% endfor %}