{% for item in items %}

  {% if 'google.com' in item.content|render|lower or 'goo.gl' in item.content|render|lower %}
    Rendering a Google Map
  {% elseif 'colorado.edu' in item.content|render|lower %}
    <h3>Rendering a CU Map</h3>
    {% set cuMapID = '193872' %}

    <div class="ucb-org-map-embed">

      <a href="{{ item.content|render }}" style="display:block; width:100%; height:300px; background-size: cover; background-image:url(https://staticmap.concept3d.com/map/static-map/?map=336&loc={{ cuMapID }});">
          <span class="embed-map-label">
                View location on the Campus Map
          </span>
      </a>
    </div>
  {% endif %}
{% endfor %}
